asgiref==3.7.2
autopep8==2.0.4
certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
Django==5.0.1
django-cprofile-middleware==1.0.5
djangorestframework==3.14.0
idna==3.6
pillow==10.2.0
pycodestyle==2.11.1
PyMuPDF==1.23.16
PyMuPDFb==1.23.9
pypng==0.20220715.0
python-barcode==0.15.1
pytz==2023.3.post1
qrcode==7.4.2
requests==2.31.0
sqlparse==0.4.4
toml==0.10.2
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
