:root {
    --dark_background: rgb(24, 26, 27);
    --gray_background: rgb(44, 46, 47);
    --gray_background_lighter: rgb(54, 56, 57);
    --light_text: aliceblue;
}

html,
body {
    background-color: var(--dark_background);
    color: var(--light_text);
}

.center_flex_outer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-dark {
    background-color: var(--dark_background);
}

code {
    background-color: var(--gray_background);
    padding: 1ch;
    border-radius: 1ch;
}