html,
body {
    background-color: rgb(24, 26, 27);
    color: aliceblue;
    height: 100%;

}


.body_general {
    height: 100%;
}


.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid rgb(49, 52, 53); */
    padding: 10px;

}