html,
body {
    background-color: rgb(24, 26, 27);
    color: aliceblue;
    height: 100%;

}
.form_radio_css {
    font-size: larger;
}

.form_text_css {
    width: 100%;
    background-color: rgb(24, 26, 27);
    padding: 2% 0px 2% ;
    color: aliceblue;
}
#qr_text_input_id.form_text_css{
    padding-left:   2%;
}

.form_general{
    padding: 5%;

}
.body_general {
    height: 100%;
}


.center {
    margin: auto;
    width: 50%;
    /* border: 3px solid rgb(49, 52, 53); */
    padding: 10px;
    
  }

  .tool_header{
    padding-top: 3%;
    font-size: 42px;
    font-weight: 600;
  }