<div id="api_container" class="center_flex_outer">
  <div>
    <h1 id="api_usage_header">API USAGE</h1>
    <p>
      To use the api send your data in json format. You should recieve a pdf
      file as a response. Or an error message in html or plain text format.
    </p>

    <table id="general_api_info_table">
      {% for key, value in table_general.items %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>

    <table if="api_field_table">
      {% for line in api_table_fields %}
      <tr>
        {% for text in line %}
        <td>{{text}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>

    <h3 id="example_api_header">Example API usage</h3>
    <code>{"text":["Hello", "world"],"barcode_type_selection":"qr_code"}</code>
  </div>
</div>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: var(--dark_background);
    color: aliceblue;
    margin-bottom: 2%;
  }

  td,
  th {
    border: 4px solid var(--gray_background_lighter);
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--gray_background);
  }
  #api_usage_header {
    margin: 2% 2% 2% 0%;
  }
  #example_api_header {
    margin: 4% 2% 2% 0%;
  }
  #api_container table {
    width: 100%;
  }
</style>
