<form id="qr_form_id" class="form_general center" method="post">
  {% csrf_token %}
  <div class="tool_header">Create QR code</div>
  <div class="">{{ form.text }}</div>
  <div class="barcode_type_css">{{ form.barcode_type_selection }}</div>
  <input class="form_submit_css" type="submit" value="Submit" />
</form>

<style>
  .form_general {
    padding: 5%;
  }

  .barcode_type_css {
    font-size: larger;
    background-color: inherit;
    color: inherit;
    border-radius: 5px;
  }
  option {
    /* Whatever color  you want */
    background-color: slategray;
  }

  .form_text_css {
    width: 100%;
    background-color: rgb(24, 26, 27);
    margin-top: 20px;
    margin-bottom: 20px;

    color: aliceblue;
  }

  .tool_header {
    padding-top: 3%;
    font-size: 42px;
    font-weight: 600;
  }

  #qr_text_input_id.form_text_css {
    padding: 2%;
  }

  .form_submit_css {
    margin-top: 20px;
    padding: 10px 20px 10px;
    background-color: dodgerblue;
    color: inherit;
    border-radius: 5px;
    border-color: transparent;
  }
</style>
