<script>
  function checkNonAscii(text) {
    return [...text].some((char) => char.charCodeAt(0) > 127);
  }

  /*
  This code uses jQuery and it intercepts submit request. 
  If returns false request discarded. */

  $("#qr_form_id").on("submit", function () {
    text = document.getElementById("qr_text_input_id").value;
    textList = text.split("\n"); //add var or let later on
    barcode_type = document.getElementById("qr_type_input_id").value;

    if (barcode_type == "Code128") {
      if (checkNonAscii(text)) {
        alert("Code128 only supports ascii charecters");
        return false;
      }
    }

    myFetch(textList, barcode_type);
    return false;
  });

  /* 
  All form submit request gets discarded. Then with same informations
  a fetch request is send to the api  */

  function myFetch(textParam, typeParam) {
    fetch("{% url 'api' %}", {
      method: "POST",
      headers: {
        Accept: "application/json, text/plain, */*",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        text: textParam,
        barcode_type_selection: typeParam,
      }),
    })
      .then(async (response) => {
        if (response.status == 400) {
          text = await response.text();
          alert(text);
          throw 400;
        } else {
          return response.blob();
        }
      })
      .then((blob) => {
        downloadFile(blob);
      });
  }

  //------------------
  function downloadFile(blob, name = "file.pdf") {
    const href = URL.createObjectURL(blob);
    const a = Object.assign(document.createElement("a"), {
      href,
      style: "display:none",
      download: name,
    });
    document.body.appendChild(a);
    a.click();
    URL.revokeObjectURL(href);
    a.remove();
  }
</script>
