<form id="pdf_form_id" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="tool_header">Covert pdf to txt</div>
  <label class="custom-file-upload"> Select file {{ form.file }} </label>
</form>

<style>
  #pdf_form_id {
    margin-top: 3%;
    margin-bottom: 3%;
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  @media (max-width: 641px) {
    #pdf_form_id {
      width: 90%;
    }
  }

  #tool_header {
    padding-top: 3%;
    font-size: 42px;
    font-weight: 600;
  }

  /*  #file_selector_id ::file-upload-button {
    padding: 2%;
    width: 100%;
    background-color: var(--dark_background);
    margin-top: 20px;
    margin-bottom: 20px;
    color: dodgerblue;
  } */

  input[type="file"] {
    display: none;
  }
  .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
</style>
