<center-container id="center-container">
  <form id="pdf_form_id" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div id="tool_header">Layout preserving text extraction</div>
    <label id="custom-file-upload-id"> Select file {{ form.file }} </label>
    <div id="tool-explanation-id">
      Convert your pdf files to txt files online. Without messing the layout and keeping the layout intact.
    </div>
  </form>
</center-container>
<style>
  #center-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Align horizontal */
  }
  #pdf_form_id {
    width: 50%;
    padding-bottom: 5%;
  }
  @media (max-width: 641px) {
    #pdf_form_id {
      width: 90%;
    }
  }

  #tool_header {
    font-size: 42px;
    font-weight: 600;
  }

  input[type="file"] {
    display: none;
  }
  #custom-file-upload-id {
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    display: flex;
    justify-content: center; /* Align horizontal */
    align-items: center;
    text-align: center;

    margin: 5% 5% 5% 0%;
    height: 100px;

    font-size: xx-large;
    background-color: dodgerblue;
  }
  #tool-explanation-id {
    font-size: large;
  }
</style>
